PassengerEnabled on
PassengerAppRoot /home/teamdoor/b2c.teamdoors.com/parking_lpr_system
PassengerAppType wsgi
PassengerStartupFile app.py

<FilesMatch "\.py$">
    SetHandler passenger
</FilesMatch>

Options -MultiViews
